
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 
 body{
  background: #010D25;
  font-family: 'PT Sans', sans-serif;
 }
 .bg{
    background-image: url('../public//images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
 }